<pfng-wizard #wizard
             [config]="spaceWizardConfig">
  <pfng-wizard-step [config]="step1SpaceCreation">
    <space-creator
    [wizard]="wizard">
  </space-creator>
  </pfng-wizard-step>
  <pfng-wizard-step [config]="step2SpaceConfigurator">
    <space-configurator
    [wizard]="wizard"
    (onCancel)="cancel()">
  </space-configurator>
  </pfng-wizard-step>
  <pfng-wizard-step [config]="step3Quickstart">
    <forge-app-generator title="Start from quickstart applications"
      (onCancel)="cancel()"
      forgeCommandName="{{configurator.forgeCommands.forgeQuickStart}}">
    </forge-app-generator>
  </pfng-wizard-step>
  <pfng-wizard-step [config]="step3bisImportRepo">
    <forge-app-generator title="Start from import repositories"
      (onCancel)="cancel()"
      forgeCommandName="{{configurator.forgeCommands.forgeImportGit}}">
    </forge-app-generator>
  </pfng-wizard-step>
</pfng-wizard>
